{{#each this}}

  <div class='color-card'>
    <div
      class='color-swatch'
      data-idx="{{@../index}}"
      data-hex='{{hex}}'
      data-rgb='{{rgb}}'
      style='color: {{hex}}'
    > </div>

    <div class='color-meta'>
      <p>HEX : {{hex}}</p>
      <p>RGB : {{rgb}}</p>
    </div>
  </div>

  {{!-- <span class='decor__star star-{{index}}'> {{symbol}} </span> --}}
{{/each}}
